.contacto {
    border: solid 1px #000;
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-evenly;
}

.contacto .project-tile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.contacto .project-tile h2 {
    font-size: 50pt;
    border-bottom: solid 6px #58cdd1;
    font-family: 'Squada One', cursive;
}

.contacto .project-tile .icono-idea{
    width: 60px;
    height: 60px;
}

.contacto .work {
    font-size: 18pt;
    line-height: 30px;
    width: 60%;
    font-weight: 600;
    font-family: 'Handlee', cursive;
    align-self: center;
    text-align: center;
    margin-bottom: 30px;
}

.contacto .phrase {
    font-size: 16pt;
    line-height: 30px;
    border: double 5px #58cdd1;
    width: 60%;
    font-family: 'Handlee', cursive;
    align-self: center;
    text-align: center;
    /* margin-bottom: 30px; */
}

/*------animaciones iconos-------*/

.social-icons {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.social-icons li {
    margin: 0px 30px;
    position: relative;
    font-size: 35px;
}

.social-icons .iconos {
    color: #fff;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: all 265ms ease-out;
}

.social-icons .link-iconos:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #cc4b51, #58cdd1);
    transition: all 265ms ease-out;
}

.social-icons .link-iconos:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons .link-iconos:hover .iconos {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #cc4b51;
    background: -webkit-linear-gradient(45deg, #cc4b51, #58cdd1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

/*------fin animaciones iconos-------*/


@media screen and (max-width: 720px){
    .contacto {
        /* padding: 40px; */
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 60vh;
    }

    .contacto .project-tile h2 {
        display: flex;
        justify-content: center;
        font-size: 30pt;
        padding: 10px 30px;
    }

    .contacto .work {
        color: #ffffff;
        font-size: 15pt;
        line-height: 50px;
        border-bottom: double 6px #58cdd1;
        width: 80%;
        font-family: 'Handlee', cursive;
        align-self: center;
        text-align: center;
        margin: 10px 0px;
    }

    /*------animaciones iconos-------*/

.social-icons li {
    margin: 10px;
    position: relative;
    font-size: 25px;
}

.social-icons .iconos {
    top: 12px;
    left: 12px;
}
/*------fin animaciones iconos-------*/
}